.produto__imagem {
    height: 174px;
    width: 176px;
}

@media screen and (max-width: 768px) {
    .produto__imagem {
        height: 174px;
        width: 164px;
    }
}

@media screen and (max-width: 480px) {
    .produto__imagem {
        height: 174px;
        width: 120px;
    }    
}
