.cadastro__botao {
    background: #2a7ae4;
    border: none;
    color: #ffffff;
    flex-shrink: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
}

.cadastro__botao:hover {
    background: #ffffff;
    border: 1px #2a7ae4 solid;
    color: #2a7ae4;
    cursor: pointer;
    outline: none;
}