.footer__conteudo--contato--textarea {
    border: none;
    box-shadow: 0 0.5px 0.5px #464646;
    font-family: Raleway;
    font-size: 16px;
    padding: 8px;
}

.footer__conteudo--contato--textarea:focus {
    border: 1px #2a7ae4 solid;
    outline: none;
}