.footer__conteudo--contato--botao {
    background: #2a7ae4;
    border: none;
    color: #ffffff;
    flex-shrink: 0;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    width: 60%;
}

.footer__conteudo--contato--botao:hover {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .footer__conteudo--contato--botao {
        width: 70%;
    }
}