.footer {
    background: #EAF2FD ;
    display: flex;
    gap: 112px;
    padding: 64px 96px;
}

@media screen and (max-width: 768px) {
    .footer {
        gap: 16px;
        padding: 32px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        justify-content: center;
        flex-direction: column;
    }
}